/* fonts */
@font-face {
  font-family: Hamburger;
  src: url(../font/Hamburger.ttf);
}

/* base styles */

html {
  color: #fed;
  text-align: center;
  background: #222;
  background: linear-gradient(180deg, #222, #000);
}

body {
  margin: 0;
}

h1 {
  font-family: "Hamburger", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: black 5px 5px;
  font-size: 70px;
}

p {
  margin: 0 0 10px 0;
}

#container {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 200px;
}

/* threejs container styles */
#example-container {
  background:#111;
  margin: 20px auto;
  padding: 20px;
  min-height: 300px;
}

#threejs-container,
#drawing-container {
  position: relative;
  background:#000;
  color: #666;
  text-align: center;
  padding: 70% 0 0 0;
  height: 0;
  width: 50%;
}

#threejs-container {
  float: left;
}

#drawing-container {
  float: right;
}

#threejs-container canvas,
#drawing-container canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
